@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  font-family: 'Lato', sans-serif !important;
}

body {
  background-color: #f9fdff;
}

a, a:visited {
  cursor: pointer;
  text-decoration: none;
  color: #02151F;
}

.bold {
  font-weight: 900;
}

.date {
  text-transform: uppercase;
  opacity: 0.5;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 15px;
}

.chart {
  margin: 20px 40px;
}

#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  color: #02151F;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(3, 22, 31, 0.1);
          box-shadow: 0px 0px 20px 0px rgba(3, 22, 31, 0.1);
}

#header #header-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#header #header-container #logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 20px 24px 20px 0;
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 1000px) {
  #header #header-container #logo {
    padding-left: 20px;
  }
}

#header #header-container #menu {
  display: none;
  opacity: 0.5;
  margin-right: 24px;
  height: 18px;
  cursor: pointer;
}

@media screen and (max-width: 630px) {
  #header #header-container #menu {
    display: initial;
  }
}

#header #header-container #nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1000px) {
  #header #header-container #nav {
    padding-right: 20px;
  }
}

@media screen and (max-width: 630px) {
  #header #header-container #nav {
    display: none;
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 22px;
  }
}

#header #header-container #nav #close-button {
  display: none;
}

@media screen and (max-width: 630px) {
  #header #header-container #nav #close-button {
    display: initial;
  }
}

#header #header-container #nav a {
  position: relative;
  padding: 8px 0;
  margin: 16px;
  overflow: hidden;
  color: #02151F;
}

@media screen and (max-width: 630px) {
  #header #header-container #nav a {
    margin: 0;
    padding: 32px;
  }
}

#header #header-container #nav a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #02151F;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
  opacity: 0.4;
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
}

@media screen and (max-width: 630px) {
  #header #header-container #nav a::after {
    opacity: 0;
  }
}

#header #header-container #nav a:hover {
  opacity: 1;
}

#header #header-container #nav a:hover::after {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

#header #header-container #nav :last-child {
  margin-right: 0 !important;
}

#content {
  max-width: 1000px;
  margin: 40px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #02151F;
}

@media screen and (max-width: 1000px) {
  #content {
    margin: 20px;
  }
}

.article-card {
  border-radius: 16px;
  background: -webkit-gradient(linear, left top, right top, from(#03161f), to(rgba(3, 22, 31, 0))), url("../assets/covers/1.jpg");
  background: linear-gradient(to right, #03161f, rgba(3, 22, 31, 0)), url("../assets/covers/1.jpg");
  background-size: cover;
  background-position: center;
  background-color: #02151F;
  color: white;
  height: 440px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 80px;
}

@media screen and (max-width: 630px) {
  .article-card {
    padding: 0 30px;
  }
}

.article-card #text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 360px;
}

@media screen and (max-width: 630px) {
  .article-card #text {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: initial;
  }
}

.article-card #text h3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.24;
}

.article-card #text .tagline {
  font-size: 17px;
  opacity: 0.8;
  margin-top: 16px;
  line-height: 1.3;
}

.article-card #text .cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 12px;
  margin-top: 30px;
  width: 84px;
  font-weight: 700;
  color: #02151F;
  cursor: pointer;
  padding: 14px 16px;
  border-radius: 8px;
  background-color: white;
  background-size: 200% 50%;
  background-position: right bottom;
}

.article-card #text .cta img {
  margin-left: 16px;
  height: 12px;
}

.article-card #text .cta:hover {
  -webkit-transform: scale(0.96) !important;
          transform: scale(0.96) !important;
  background-position: left bottom;
  background-image: -webkit-gradient(linear, left top, right top, from(#cfe1ec), color-stop(50%), color-stop(50%, transparent));
  background-image: linear-gradient(to right, #cfe1ec, 50%, transparent 50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.article-card .cover {
  width: 598px;
  background-size: cover;
  background-position: left;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.about-card {
  border-radius: 16px;
  background-color: rgba(2, 21, 31, 0.07);
  padding: 30px 0 30px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

@media screen and (max-width: 630px) {
  .about-card {
    padding: 40px;
    text-align: center;
    margin-top: 10px;
  }
}

.about-card h4 {
  font-weight: 700;
  font-size: 24;
  padding-bottom: 16px;
  opacity: 0.65;
}

.about-card p {
  opacity: 0.65;
  line-height: 1.4;
}

.about-card img {
  opacity: 0.07;
  margin-left: 80px;
  height: 200px;
}

@media screen and (max-width: 630px) {
  .about-card img {
    display: none;
  }
}

.article {
  background-color: white;
  border-radius: 16px;
  padding: 50px 0;
  max-width: 800px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(3, 22, 31, 0.05);
          box-shadow: 0px 0px 20px 0px rgba(3, 22, 31, 0.05);
}

.article .date {
  opacity: 0.3;
  font-size: 16px;
  margin-bottom: 36px;
}

.article h1, .article h2, .article h3, .article h4, .article h5, .article h6, .article p {
  margin: 0 50px 20px 50px;
}

.article h1 {
  font-size: 48px;
  font-weight: 700;
  max-width: 560px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0.8;
}

.article p {
  font-size: 18px;
  line-height: 1.6;
  opacity: 0.7;
}

.article img {
  width: 100%;
  margin-bottom: 40px;
}

.article .small {
  font-size: 16px;
  font-weight: 700;
  opacity: 0.5;
}

.article .table-of-contents {
  margin-top: 40px;
  opacity: 0.8;
}

.article .table-of-contents h2 {
  font-size: 22px;
  margin-bottom: 28px;
  border-top: 3px solid #02151F;
  padding-top: 12px;
  font-weight: 900;
}

.article .table-of-contents ul {
  padding-bottom: 20px;
}

.article .table-of-contents ul h4 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 12px;
  cursor: pointer;
}

.article .table-of-contents ul li {
  font-size: 14px;
  margin: 0 0 8px 55px;
  cursor: pointer;
}

.article .table-of-contents ul h4:hover, .article .table-of-contents ul li:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: rgba(2, 21, 31, 0.5);
          text-decoration-color: rgba(2, 21, 31, 0.5);
}

.article .table-of-contents ul .sub-section {
  padding-bottom: 0;
  margin-left: 20px;
}

.article .table-of-contents ul:last-child {
  padding-bottom: 0;
}

.article .category {
  margin-top: 40px;
}

.article .category h2 {
  font-size: 64px;
  font-weight: 700;
  opacity: 0.15;
  margin-top: 60px;
}

.article .category h3 {
  font-size: 24px;
  font-weight: 700;
  margin-top: 50px;
}

.article .source, .article .chart-notes {
  font-size: 14px !important;
  opacity: 0.5 !important;
  margin-bottom: 8px;
  float: right;
}

.article .source a:hover, .article .chart-notes a:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=main.css.map */