@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:wght@400;700&display=swap');

$navy: #111A1E;
$blue: #2976dd;
$red: #ff6a6a;
$green: #6ce299;
$orange: #ffc878;
$maxWidth: 800px;
$largeBorderRadius: 16px;
$smallBorderRadius: 8px;
$mobileBreakpoint: 630px;