@import "../variables/variables.scss";

a, a:visited {
    cursor: pointer;
    text-decoration: none;
    color: $navy;
}

.bold {
    font-weight: 900;
}

.article-title {
    display: flex;
    flex-direction: column;
    align-self: center;
    font-family: 'Montserrat', serif !important;
    
    h1 {
        font-size: 44px;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 20px;
        max-width: 440px;
    }

    .article-meta {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        opacity: 0.6;

        span {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-right: 20px;

            @media screen and (max-width: 600px) {
                margin-bottom: 6px;
            }    

            img {
                margin-right: 8px;
            }

            p, .comment-number, .comment-text {
                font-size: 15px;
                font-weight: 700;
                opacity: 1 !important; // This is here because otherwise article p would override the opacity
                margin-bottom: 0 !important;
                text-decoration: none !important;
            }

            .comment-number {
                margin-right: 0;
            }
        }

        .disqus-comment-count {
            cursor: pointer;
        }

        .disqus-comment-count :hover {
            text-decoration: underline;
        }


        :last-child {
            margin-right: 0px;
        }
    }
}