@import "../variables/variables.scss";

a, a:visited {
    cursor: pointer;
    text-decoration: none;
    color: $navy;
}

.bold {
    font-weight: 900;
}

#logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    padding: 12px 20px 12px 16px;
    margin-bottom: 50px;
    height: 32px;
    background-color: rgba($color: white, $alpha: 0.1);
    border-radius: 16px;
}


.article-title {
    display: flex;
    flex-direction: column;
    align-self: center;
    font-family: 'Merriweather', serif !important;
    
    h1 {
        font-size: 44px;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 20px;
        max-width: 440px;
    }

    .article-meta {
        display: flex;
        flex-direction: row;
        opacity: 0.6;

        @media screen and (max-width: $maxWidth) {
            flex-direction: column;

            span {
                margin-bottom: 6px;
            }
        }

        span {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-right: 20px;

            img {
                margin-right: 8px;
            }

            p {
                font-size: 15px;
                font-weight: 700;
                opacity: 1 !important; // This is here because otherwise article p would override the opacity
                margin-bottom: 0 !important;
            }
        }
    }
}