@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$navy: #111A1E;
$blue: #2b47e2;
$red: #ff6a6a;
$green: #6ce299;
$orange: #ffc878;
$maxWidth: 800px;
$largeBorderRadius: 16px;
$smallBorderRadius: 8px;
$mobileBreakpoint: 630px;