@import "../variables/variables.scss";

$articleWidth: 700px;

body {
    background-color: $navy;
    font-family: 'Lato', sans-serif !important;

    @media screen and (max-width: $articleWidth) {
        background-color: white;
    }
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: $articleWidth + 100;
    margin-bottom: 80px;

    @media screen and (max-width: $articleWidth) {
        margin-bottom: 60px;
    }

    #logo {
        margin: 0;
        background-color: rgba($color: $navy, $alpha: 0.1);
        cursor: default;
    }

    #back {
        padding: 20px 17px;
        border-radius: 16px;
        margin-left: -14px;
        opacity: 0.7;
    }
}

.article {
    background-color: white;
    border-radius: $largeBorderRadius;
    max-width: $articleWidth;
    margin: 30px auto 40px auto;
    padding: 50px;

    @media screen and (max-width: $articleWidth) {
        margin: 0;
        border-radius: 0;
        padding: 30px;
    }

    .article-title {
        margin-bottom: 40px;

        h3 {
            max-width: 100% !important;
            margin-right: 200px;
        }
    }

    ul {
        li {
            padding: 0;
            margin-left: 30px;
        }
    }

    a {
        text-decoration: underline;
    }

    iframe {
        margin-top: 30px;
        min-height: 400px;
    }

    .section-title {
        font-size: 50px;
        font-weight: 700;
        opacity: 0.2;
        margin-top: 60px;
        margin-bottom: -30px;
        font-family: 'Merriweather', serif !important;

        @media screen and (max-width: $articleWidth) {
            font-size: 40px;
        }
    }

    h3 {
        font-size: 26px;
        font-weight: 700;
        margin: 70px 0 16px 0;
    }


    p {
        font-size: 17px;
        line-height: 1.6;
        margin-bottom: 20px;
        opacity: 0.7;
    }

    table {
        width: 100%;
        font-size: 14px;

        tr {
            td {
                padding: 12px;
            }

            .narrow-row {
                width: 25%;
            }

            & + :nth-child(even) {
                background-color: rgba($color: $navy, $alpha: 0.07);
            }
        }
    }

    .engagements {
        p {
            padding: 0;
            margin: 0;
        }

        h4 {
            font-weight: bold;
            font-size: 20px;
        }

        .engagement {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
    
            padding: 16px 20px;
            border-radius: $largeBorderRadius;

            p {
                font-size: 15px;
            }

            margin-bottom: 12px;
        }
        .green {
            background-color: $green;
        }
    }

    .spacer {
        height: 40px;
    }

    .source {
        font-size: 11px;
        margin-top: 16px !important;
        display: block;
        font-family: 'Roboto', sans-serif;
        opacity: 1;

        span {
            opacity: 0.5;
        }

        a {
            color: #18a1cd;
        }
    }

    .table-of-contents {
        margin-top: 40px;
        opacity: 0.8;

        h2 {
            font-size: 24px;
            margin-bottom: 20px;
            padding-top: 12px;
            font-weight: 900;
        }

        ol {
            padding-bottom: 20px;
    
            h4 {
                font-size: 16px;
                font-weight: 700;
                margin-bottom: 12px;
                margin-top: 16px;
                cursor: pointer;
                @media screen and (max-width: $articleWidth) {
                    margin-bottom: 20px;
                }
            }
            li {
                font-size: 14px;
                margin: 0 0 8px 36px;
                cursor: pointer;

                @media screen and (max-width: $articleWidth) {
                    margin: 0 0 16px 36px;
                    font-size: 15px;
                }
            }

            h4:hover, li:hover{
                text-decoration: underline;
                text-decoration-color: rgba($color: $navy, $alpha: 0.5);
            }

            &:last-child {
                padding-bottom: 0;
            }
        }
    }

    .segmented-control {
        display: flex;
        align-items: center;
        float: right;
        background-color: rgba($color: $navy, $alpha: 0.07);
        height: 25px;
        padding: 0 2px;
        border-radius: 7px;
        overflow: hidden;
        margin-top: 20px;
        margin-bottom: -10px;

        .text {
            font-size: 14px;
            opacity: 1;    
            padding: 2px 20px;
            height: 40px !important;
        }

        span {
            cursor: pointer;
        }

        input {
            width: 0;
            height: 0;
            margin: 0;
            padding: 0;
            appearance: none;

            &:checked+span {
                border-radius: 5px;
                background-color: white;
                font-weight: bold;
                box-shadow: 0 0 5px rgba($navy, .2);    
            }
        }
    }

}