@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:wght@400;700&display=swap");
body {
  background-color: #111A1E;
  font-family: 'Lato', sans-serif !important;
}

#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 800;
  margin-bottom: 80px;
}

#header #logo {
  margin: 0;
  background-color: rgba(17, 26, 30, 0.1);
  cursor: default;
}

#header #back {
  padding: 20px 17px;
  border-radius: 16px;
  margin-left: -14px;
  opacity: 0.7;
}

.article {
  background-color: white;
  border-radius: 16px;
  max-width: 700;
  margin: 30px auto 40px auto;
  padding: 50px;
}

.article .article-title {
  margin-bottom: 40px;
}

.article .article-title h3 {
  max-width: 100% !important;
  margin-right: 200px;
}

.article iframe {
  margin-top: 30px;
  min-height: 400px;
}

.article .section-title {
  font-size: 50px;
  font-weight: 700;
  opacity: 0.2;
  margin-top: 60px;
  margin-bottom: -20px;
  font-family: 'Merriweather', serif !important;
}

.article h3 {
  font-size: 24px;
  font-weight: 700;
  margin: 60px 0 16px 0;
}

.article p {
  font-size: 17px;
  line-height: 1.6;
  margin-bottom: 20px;
  opacity: 0.7;
}

.article table {
  width: 100%;
  font-size: 14px;
}

.article table tr td {
  padding: 12px;
}

.article table tr .narrow-row {
  width: 25%;
}

.article table tr + :nth-child(even) {
  background-color: rgba(17, 26, 30, 0.07);
}

.article .spacer {
  height: 40px;
}

.article .source {
  font-size: 11px;
  margin-top: 16px !important;
  display: block;
  font-family: 'Roboto', sans-serif;
  opacity: 1;
}

.article .source span {
  opacity: 0.5;
}

.article .source a {
  color: #18a1cd;
}

.article .table-of-contents {
  margin-top: 40px;
  opacity: 0.8;
}

.article .table-of-contents h2 {
  font-size: 24px;
  margin-bottom: 20px;
  padding-top: 12px;
  font-weight: 900;
}

.article .table-of-contents ol {
  padding-bottom: 20px;
}

.article .table-of-contents ol h4 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 12px;
  margin-top: 16px;
  cursor: pointer;
}

.article .table-of-contents ol li {
  font-size: 14px;
  margin: 0 0 8px 36px;
  cursor: pointer;
}

.article .table-of-contents ol h4:hover, .article .table-of-contents ol li:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: rgba(17, 26, 30, 0.5);
          text-decoration-color: rgba(17, 26, 30, 0.5);
}

.article .table-of-contents ol:last-child {
  padding-bottom: 0;
}

.article .segmented-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  background-color: rgba(17, 26, 30, 0.1);
  height: 26px;
  padding: 0 3px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 7px;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: -10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.article .segmented-control .label {
  font-size: 14px;
  opacity: 1;
  padding: 2px 20px;
}

.article .segmented-control span {
  cursor: pointer;
}

.article .segmented-control input[type="radio"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin: 0;
}

.article .segmented-control input[type="radio"]:checked + span {
  border-radius: 5px;
  background-color: white;
  font-weight: bold;
  -webkit-box-shadow: 0 0 5px rgba(17, 26, 30, 0.2);
          box-shadow: 0 0 5px rgba(17, 26, 30, 0.2);
}
/*# sourceMappingURL=article.css.map */